/*****BODY*****/

body {
  background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #333;
  font-family: "Lato","Arial",sans-serif;
  font-size: 16px;
  margin: 0 0 30px;
}

.clear {
  clear: both;   
}

/*****HEADER*****/

#logo {
  float: left;
}

#navigation {
  float: right;
  margin: 30px 30px 0 0;
}

#navigation li {
  display: inline;
  padding-left: 10px;
  padding-right: 25px;
}

#navigation li:last-child {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-right: 0;
}

#navigation a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

/*****Content*****/

#content {
  padding: 0 30px;
}

.pageContent {
  position: relative;
  /* padding: 0 30px; */
  padding-top: 115px;
}

.pageContent.first {
  margin-top: -100px;
}

h1 {
  background-color: #dedede;
  border-radius: 100px;
  font-size: 36px;
  font-weight: 700;
  height: 200px;
  line-height: 200px;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: -1;
}

.pageContent:hover h1 {
  background: none repeat scroll 0 0 #78e7f1;
}

.pageContent.development h2 {
  border-top: 1px solid #c0c0c0;
  padding-top: 15px;
}

#About {
  right: 0;
  top: 0;
  color: #000;
}

#Design {
  color: #363636;
  left: 0;
  top: 0;
}

#Development {
  border-radius: 150px;
  color: #6e6e6e;
  height: 300px;
  left: 0;
  line-height: 300px;
  margin: 0 auto;
  right: 0;
  top: 0;
  width: 300px;
}

#Portfolio {
  color: #fff;
  right: 20%;
  top: 0;
}

p {
  line-height: 24px;
  margin: 10px 0;
  text-align: justify;
}
.pageContent.development {
  padding-top: 175px;
}

/*****Portfolio*****/

.pageContent.portfolio > ul {
  margin: 15px 0 0;
  padding: 0;
  width: 100%;
}

.pageContent.portfolio li {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  display: inline-block;
  margin: 0 1.5% 2%;
  max-height: 247px;
  overflow: hidden;
  padding: 1%;
  text-align: center;
  width: 30%;
}

.pageContent.portfolio img {
  max-width: 100%;
}

/*****Footer*****/
#footer {
  margin-top: 30px;
  text-align: center;
}

#footer li {
  display: inline-block;
  margin: 0 10px;
}

#footer a:hover {
  text-decoration: none;
}

#footer a i {
  color: #333;
  font-size: 36px;
}

#footer a:hover i, #navigation a:hover {
  color: #78e7f1;
}

#footer > p {
  font-weight: 300;
  text-align: center;
}

/*****Custom Icon Styles*****/

i.icon-bucket {
  float: right;
  font-size: 100px;
  margin-left: 20px;
}

i.icon-drupal {
  color: #3477ab;
}

i.icon-wordpress {
  color: #1d8bbe;   
}

i.icon-tumblr {
  color: #35506b;   
}

.pageContent.development i {
  float: left;
  margin-right: 20px;
}

/*****Misc.*****/

#navigation ul, #footer ul {
  margin: 0;
  padding: 0;
}


/******************
RESPONSIVE STYLES
******************/

/*****950px*****/

@media (max-width: 950px) {
    
    
    #navigation li {
      padding-right: 10px;
    }
    
    #navigation a {
      font-size: 16px;
    }
    
    .pageContent.portfolio li {
      width: 46%;
    }
    
}

/*****750px*****/

@media (max-width: 750px) {
    
    #navigation {
      line-height: 30px;
      text-align: right;
      width: auto;
    }
    
}

/*****550px*****/

@media (max-width: 550px) {
    
    .pageContent.first {
      margin-top: 0;
    }
    
    #navigation li {
      display: block;
      padding: 0;
    }
    
    .pageContent.portfolio li {
      margin: 1% 0;
      width: 100%;
    }
    
}

/*****450px*****/

@media (max-width: 450px) {
    
    body {
      font-size: 13px;
    }  
    
    #logo > img {
      max-width: 50%;
    }
    
    #navigation {
      clear: both;
      float: none;
      margin: 0;
      padding: 15px 0;
      text-align: center;
    }
    
    #navigation li {
      display: inline;
      padding: 0 5px;
    }
    
    #navigation a {
      font-size: 13px;
    }
    
    #About, #Design, #Portfolio {
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 0;
    }
    
    h1 {
      font-size: 30px;
      height: 150px;
      line-height: 150px;
      width: 150px;
    }

    .pageContent {
      padding-top: 85px;
    }

    p {
      line-height: 20px;
    }

    #Development {
      height: 250px;
      line-height: 250px;
      width: 250px;
    }
    
    .pageContent.development {
      padding-top: 140px;
    }
    
}
